# Xcode
xcuserdata
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout

etc/*.conf
!etc/default.conf
etc/*.db
etc/*.pid
etc/HUP
etc/ssl/
.gedit
dev/
*~
*.old
db/*.db
PRIVATE_INFORMATION
