[submodule "lib/api-engine"]
	path = lib/api-engine
	url = git://github.com/cooper/api-engine.git
[submodule "lib/evented-object"]
	path = lib/evented-object
	url = git://github.com/cooper/evented-object.git
